body {
  display: flex;
  font-family: sans-serif;
}

.header {
  display: flex;
  background-color: #1F2937;
  justify-content: space-around;
  align-items: center;
  gap: 16px;
}

.logo {
  display: flex;
  padding: 0;
  font-size: 24px;
  color: #F9FAF8;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 32px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

.image {
  width: 200px;
  height: 100px;
}

.info img {
  width: 100px;
  height: 100px;
  border: 1px solid green;
}

.information {
  text-align: center;
}

.title {
  font-size: 36px;
  font-weight: 900;
  color: 1F2937;
}
.container {
  display: flex;
  justify-content: center;
}

.info {
  max-width: 200px;
}
