body {
  display: flex;
  font-family: sans-serif;
  margin: 0;
}

.header {
  display: flex;
  background-color: #1F2937;
  justify-content: space-around;
  align-items: center;
  gap: 16px;
}

.logo {
  display: flex;
  padding: 0;
  font-size: 24px;
  color: #F9FAF8;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 32px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

.hero {
  display: flex;
  background-color: #1F2937;
  padding: 80px 0px 80px 0px;
}

.hero-cta {
  margin-left: 170px;
  margin-bottom: 50px;
}

.hero-cta .hero-heading {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.hero-cta .hero-paragraph {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-cta button {
  background-color: #3882F6;
  border: 1px solid;
  border-radius: 6px;
  padding: 6px 24px 6px 24px;
  margin-top: 10px;
  font-weight: 900;
}

.hero img{
  width: 500px;
  height: 230px;
  margin-left: 50px;
  margin-right: 180px;
}

.info img {
  width: 160px;
  height: 160px;
  border: 4px solid green;
  border-radius: 16px;
}

.information {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.title {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  margin-bottom: 40px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 70px;
}

.info {
  max-width: 150px;
}

.quote {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  padding: 100px 260px 100px 260px;
}

.quote .quote-paragraph {
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
  color: #1F2937;
}

.quote .quote-author {
  font-size: 24px;
  font-weight: 900;
  text-align: right;
  padding-right: 44px;
}

.sign-up {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px 200px 100px 200px;
  padding: 50px 100px 50px 100px;
  background-color: #3882F6;
  border: 4px;
  border-radius: 8px;
}

.sign-up-cta .paragraph-one {
  font-weight: 900; 
  font-size: 24px;
  margin-bottom: 4px;
}

.sign-up button {
  background-color: #3882F6;
  border: 1px solid white;
  border-radius: 6px;
  padding: 6px 24px 6px 24px;
  font-weight: 700;
}

.footer {
  background-color: #1F2937; 
  text-align: center;
  padding: 30px 0px 30px 0px;
}
